@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;900&display=swap");

// VARIABLES
$font: "Roboto Slab", serif;
$color-white: #fff;
$color-mid-grey: #333333;
$color-blue: #03b4ce;
